<li class="nav-item">
  <span class="name"> Integrations</span>
  <div class="status ">
    <% if current_user.integrations_complete? %>
      <%= link_to integration_path(current_user.integration) do %>
        Status: <span class="complete">Complete ✅</span>
      <% end %>
    <% else %>
      <%= link_to edit_integration_path(current_user.integration) do %>
        Status: <span class="in-progress">In Progress</span><i class="icon icon-edit"></i>
        <% end %>
    <% end %>
  </div>
</li>