<li class="nav-item">
  <span class="name"> Services & Pricing Content</span>
  <div class="status ">
    <% if current_user.services_contents_complete? %>
      <%= link_to services_content_path(current_user.services_content) do %>
        Status: <span class="complete">Complete ✅</span>
      <% end %>
    <% else %>
      <%= link_to edit_services_content_path(current_user.services_content) do %>
        Status: <span class="in-progress">In Progress</span><i class="icon icon-edit"></i>
        <% end %>
    <% end %>
  </div>
</li>