<div class="box no-shaddow column col-12 my-2">
  <div class="box-header text-bold">
    Services Content
  </div>
  <div class="box-body">
    <%= sanitize @services_content.services %>
  </div>
</div>
<div class="box no-shaddow column col-12 my-2">
  <div class="box-header text-bold">
    Pricing Content
  </div>
  <div class="box-body">
    <%= sanitize @services_content.pricing %>
  </div>
</div>
<div class="box no-shaddow column col-12 my-2">
  <div class="box-header text-bold">
    Other Info
  </div>
  <div class="box-body">
    <%= sanitize @services_content.other_info %>
  </div>
</div>





