<header class="box-header column col-12">
  <div class="box-title h5">Preview Submitted Data</div>
  <p class="subtitle">You can see what has been saved here. Take a peek and make sure everything looks right, because it's the info that we're going to be building your site off of, so it's kind of important 😉 </p>
</header>
<section class="box-body column col-12">
  <div class="columns no-margin-offset">       
    <%= render 'show_content', services_content: @services_content %>
  </div>
</section>
<footer class="box-footer column col-12">
  <% unless current_user.is_submitted? %>
    <div class="columns">
      <%= link_to 'Make a Change', edit_services_content_path(@services_content), class: 'btn column col-5 col-sm-10 mb-2 col-mx-auto' %> 
      <%= link_to 'Next', edit_integration_path, class: 'btn btn-primary column col-5 col-sm-10 mb-2 col-mx-auto' %>
    </div>
  <% else %>
    <button class="btn is-centered mb-4" disabled="" tabindex="-1">Edit Services/Pricing Content</button> 
    <p>
       Your Site has already been submitted. If you see a problem with your submitted data, <%= link_to 'get in touch', pages_contact_path %>
    </p>
  <% end %>
</footer>

