// CSS Icons
@import "icons/icons-core";
@import "icons/icons-navigation";
@import "icons/icons-action";
@import "icons/icons-object";

.social-icon {
  display: block;
  height: auto;
  max-width: 100%;
}