html {
  height: 100vh;
}

body.application_layout {
  min-height: 100vh;
}

footer.appliction-layout-footer {
  bottom: 0;
}

.slide-menu-content>main {
  min-height: 83vh;
}

.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level,
.trix-button--icon-quote,
.trix-button--icon-code {
  display: none;
}

trix-editor {
  min-height: 12rem;
}