html {
  // min-height: 100vh;
}

body.pages_layout {
  min-height: 100vh;

  header.navbar {
    background-color: transparent;

    .navbar-mobile-section {
      display: none;

      @media (max-width: $size-md) {
        display: flex;
        flex: 1 0 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: $navbar-height;
        padding-right: $unit-2;
      }

    }

    .mobile-dropdown-menu {
      margin-top: -$unit-1;
      position: relative;
      // top: 0;
    }


    &>.navbar-section>.button-container {
      display: none !important;
    }
  }


  >footer.pages-layout-footer {
    min-height: 25vw;
    background-color: $alternate-color;
    // clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

    .right {

      .social-nav {
        margin-top: 1.6rem;
        padding-right: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: $size-sm) {
          align-items: flex-end;
          margin-right: 30%;
        }

        .social-link {
          flex: 0 1 auto;
          text-align: right;
          display: flex;
          align-items: center;
          // margin: 0.3rem 0;
          padding: 0.3rem 0.4rem;

          &:hover {
            background-color: rgba(233, 225, 251, 0.5);
            color: $primary-color;
            border-radius: $border-radius;
            text-decoration: none;

            >.social-text {
              color: $primary-color;
            }
          }


          .social-text {
            flex: 0 1 auto;
            margin-right: 1rem;
            color: $light-color;

          }

          .social-icon {
            max-width: 2rem;
            width: 2rem;
            height: 2rem;
            flex: 0 1 auto;

          }
        }
      }
    }

    .center {

      .footer-brand {
        margin-top: 1.5rem;
        margin-left: 15%;
        margin-right: 15%;
        border-top: solid 1px white;
        border-right: solid 1px white;
        border-bottom: solid 1px white;

      }

      p {
        color: $primary-color-light;
      }
    }

    .left {
      .footer-nav {
        margin-top: 1.5rem;
        padding-right: 2rem;

        @media (max-width: $size-sm) {
          text-align: center;
          padding-right: 0;
        }

        li {
          margin: $unit-2 0;
        }

        a {
          color: $light-color;

          &:hover {
            background-color: rgba(233, 225, 251, 0.5);
            color: $primary-color;
            border-radius: $border-radius;
          }
        }
      }
    }

    #footer-copyright {
      font-size: $unit-3;
      color: $light-color;
    }
  }

}