 
 <section class="navbar-section">
    <div class="button-container d-flex is-flex-v-centered show-md">
      <button class="slide-menu-toggle btn btn-primary btn-action " data-action="slide-menu#toggleSidebar">
        <i class="icon icon-menu"></i>
      </button>
    </div>
  <%= render 'layouts/navigation/navbar/navbar_brand', cached: true %>
  
</section>
  
<section class="navbar-section pr-2">
  <%= render 'layouts/navigation/navbar/login_logout_items' %>   
  <%= render 'layouts/navigation/navbar/registration_items' %>
</section>
