<%= link_to root_path, class: 'navbar-brand' do %>
  <span class="brand-text hide-sm">
    <%= image_tag 'nobull_logo_name.svg', class: 'img-responsive'%>
  </span>
  <div class="brand-logo">
    <%= image_tag 'nobull_logo_bull.svg', class: 'img-responsive'%>
  </div>
<% end %>