 
 <section class="navbar-section">
      <button class="slide-menu-toggle btn btn-primary btn-action" data-action="slide-menu#toggleSidebar">
        <i class="icon icon-menu"></i>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <div class="brand-logo">
          <%#= image_tag 'logo.png', class: 'img-responsive', alt: 'Review_App: Get more reviews. Get better reviews.'%>
        </div>
          <span class="brand-text hide-sm">
            ReviewBear
          </span>
      <% end %>
  </section>
  
  <section class="navbar-section">
    <%= render 'layouts/navigation/navbar/login_logout_items' %> |   
    <%= render 'layouts/navigation/navbar/registration_items' %>
  </section>
