<% if user_signed_in? %>
  <%= link_to  edit_user_registration_path, class: 'btn btn-outline' do %>
    <i class="icon icon-people"></i>
    <span>Account</span>
  <% end %>
<% else %>
  <%= link_to  new_user_registration_path, class: 'btn btn-outline' do %>
    <i class="icon icon-plus"></i>
    <span>Request Site</span>
  <% end %>
<% end %>

