
<ul class="nav single-location">
  <div class="divider text-center" data-content="Hey There"></div>
    <li class="nav-item btn btn-primary btn-lg">
      <%= link_to root_path do  %>
        <i class="icon icon-plus"></i> New Review Request
        <% end %>
    </li>
    <li class="nav-item">
      <%= link_to root_path do  %>
        <i class="icon icon-time"></i> Past Review Requests
        <% end %>
    </li>
    <li class="nav-item">
      <%= link_to root_path do  %>
        <i class="icon icon-link"></i> Manage Review Sites
        <% end %>
    </li>
    <li class="nav-item">
      <%= link_to root_path do  %>
        <i class="icon icon-link"></i> Manage
        <% end %>
    </li>
</ul>
