<main class="column col-8 col-md-12 col-mx-auto">
  <div class="container box">
    <div class="columns">
      <div class="box-header column col-12">
        <div class="box-title h5">Site Submission Status</div>
        <div class="box-subtitle text-gray">Where you're at/</div>
      </div>
        <div class="column col-5 col-mx-auto text-center">
          Yoooooo
        </div>
        <div class="column col-5 col-mx-auto text-center">
        Yoo
        </div>
    </div>
  </div>
</main>