<section id="hero">
  <div class="container pl-10" >
    <h1 class="h1 text-light">We always write our own code.</h1>
    <h2 class="h2 subtitle text-light">We know better than not to.</h2>
  </div>
</section>
<section id="content">
  <div class="container">
    <div class="columns">
      <div class="column col-8 col-md-10 col-sm-12 col-mx-auto">
        <article data-aos="fade-in" data-aos-duration="1000">
          <h2 class="h2 title">
            I have a confession. When I started developing websites, I relied on templates.
          </h2>
          <p class="mt-4">
            The reality is, learning how to program is hard. 
            Over half of all programmers don't have a degree in Computer Sciences or a related field <a href="https://insights.stackoverflow.com/survey/2018#developer-profile">¹</a>. A quarter have no degree at all.  
            That means that a large portion are self-taught, or received very informal education. 
          </p>
          <p>
            I'm a good example of this - I have no formal education in computer sciences. 
          </p>
          <p>
            Like many of my industry peers, I taught myself how to program. Thousands of hours of tinkering. Breaking things. Trying to put things back together. Much of what I've learnt was form
            looking through other, much better programmers code - it's still how I keep learning today! Over time, I got better. I knew how to do more things without having to consult with my old friend, Google. 
            I got braver and was able to start learning some higher level concepts. Things like good database design, proper codebase organization, test-driven-development and where to optimise code for speed.
            
          </p>
          <p>
            But that's just the thing, I've kept and continue to keep learning. 
          </p>
          <p>
            Unfortunately, not everyone else 
            has had that opportunity, <em> and I get it.</em> Starting a web development business is hard. Hell, starting a business is hard.
            It's stressful. It takes up all hours of your day, because even when you're not 'working', it's still pretty hard to no be thinking about how you're going to get that 
            next sale. It's pretty difficult to convince yourself at the end of a long day of making cold calls to sit down and learn the ins and outs of how to make a ORM query more performant.
            I've just been lucky that I was able to learn a bunch of this before I started NoBull.
          </p>

          <h5 class="h5">Why does any of this matter?</h5>
          <p>
            It matters because as you become a better programmer, it's a lot easier to see the faults of bad code, and smell when and where bad code happens.
          </p>
          <p>
            It matters because I now understand why <strong>Templates stink.</strong>  From what I've seen, 95% of everything found on <a href="https://themeforest.net/">themeforest</a> stinks. 
            It is written to look great when you're demo'ing it, but with no regard to performance, proper SEO optimizations or even half-decent programming practices. They're written
            to play the volume game - the more templates you make, the better odds you have of selling a hit.
          </p>
          <p>
            It's not the guy selling the theme's fault (well, it kind of is) - they're just playing the game by the rules and the only way to win is to keep publishing as many templates as you can. You only get to be the featured template for a week, once.
          </p>
          <p>
            It's also not my competitor's fault - the ones buying a template, doing some edits to it (Swapping out the pictures, writing the new content and changing up a couple colors here and there) and selling it to a small business for $2000. 
            They're just trying to make a living under the stress of running a small business. The reality is, if they're doing that, it's probably all they know how to do. Hopefully their business does well enough that they'll get enough time to learn how to build a site properly.
          </p>
          <h5 class="h5">But I know better.</h5>
          <p>
            Which means I can't sell that garbage - I have a moral obligation not to. Instead, I'll hand code my sites because it's the right thing to do. As well because it's the best thing for my clients. I know how important a well optimised site is in 
            the eyes of search engines. I know that using SVG format images for logos is better if possible because they scale. I know the value of meta tags. And I know that my clients are paying perfectly good money for what they're hoping will help their business grow, and I'm the one they're trusting to deliver that.
          </p>
          <p>
            <em>I hand code websites because it's the right thing to do.</em> 
          </p>
        </article>
        <article>
          <h2 class="h2 title">
            What about Wordpress?
          </h2>
          <p class="mt-4">
            Did you know that around a third of the internet runs on WordPress?<a href="https://w3techs.com/technologies/details/cm-wordpress/all/all">²</a> That's probably because of how <strong>darn easy</strong> it is to get started on WordPress!
            My first website was a WordPress site. Long before I knew how to program, using pretty basic drag-and-drop tools I was able to buy a basic WordPress theme, install it and make it look pretty good. 
          </p>
          <h5 class="h5">That's kind of the issue.</h5>
          <p>
            To be that customizable - that easy - you have to make some design decisions that have consequences. In WordPress's case, it was the decision to use PHP as the programming language powering it. 
            It has to be noted that PHP has improved leaps and bounds from the 5.0 versions to the latest 7.2. version. But it's major flaw isn't even the fact that it's built on coding language renowned for its <em>spagettiness</em>.
            Nope, it's the fact that it is so darn approachable. Don't get me wrong, the fact that anyone can get in there, start customizing their WordPress website and get dirty is awesome - it serves as a great gateway to programming! 
            It also means that I could write basic plugins very early, and that my teacher from high  school could write a script to update things automatically, and unfortunately, that a hacker from half-way around the world can easily write a 
            plugin, upload it to the WordPress plugin 'store' and start infecting businesses and their users with malicious code. 
          </p>
          <p>
            The problem with Wordpress is that it has always been and continues to be a sink of malware. 
          </p>
          <p>
            PHP is partially to blame for this. But the reality is, if you don’t keep absolutely current on the patches, you run the risk of infecting your readers with malware and ransomeware. And most businesses just don't want to have another thing they have to keep track of.
          </p>
          <h5 class="h5">So why do so many web design agencies use it?</h5>
          <p>
            Going back to my first explanation - I think it's because it's what they know. It's easy to get started in, and fairly quick to work with. That means there's not a whole lot of a barrier to entry for someone to approach a business, buy a theme and customize it, then hand it back
            to the business with an invoice. With different theme builders these days, you don't even need to know how to code to customize a WordPress theme. 
            That would be great if clients were told upfront that they have to be very diligent in keeping their website updated, but if you told them that, do you think they would still want that new website?
          </p>
          <p>We don't. Which is why we build any sites that require a Blog or other CMS on a more secure, albeit higher barrier to entry programming languages. We think it's better for everyone.</p>
        </article>
        <h5 class="h6">You've read the whole thing! If you'd rather get a custom website than risk the chance of a template, why not get in touch with us, or see what services we offer?</h5>
           <div class="btn-group btn-group-block">
            <%= link_to 'Order a Website', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
            <%= link_to 'Contact Us', pages_contact_path, class: 'btn btn-lg' %>
          </div>
      </div>  
    </div>
  </div>
</section>


<section id="cta" class="d-hide">
  <div class="container">
    <div class="columns">
      <div class="column col-8 col-sm-10 col-mx-auto">
        <h2 class="h1 text-light text-center"> Sound good to you?</h2>
        <h3 class="h5 text-light text-center mb-10">
         If our prices seem fair, and we've got something you want, why not
        </h3>
        <h4 class=" h6 text-light text-center text-capitalize">Request a Website:</h4>
        <div class="text-center">
          <%= link_to 'Request Now', new_user_registration_path, class: 'btn btn-light btn-lg px-4' %>
        </div>
        <h6 class="h6 text-light text-center my-6">- OR - </h6>
        <h4 class=" h6 text-light text-center text-capitalize">Speak to a real human:</h4>
      </div>
      <div class="column col-5 col-lg-8 col-md-10 col-sm-12 col-mx-auto">
        <div class="box">
          <div class="box-body">
            <h5 class="h5 is-flex-centered">Email Us:</h5>
            <div class="input-group is-flex-centered hide-sm" data-controller="clipboard" >
              <a href="mailto:rich@nobullco.com" class="btn btn-primary input-group-btn">Email Now</a>
              <input class="form-input text-center" data-target="clipboard.source" type="text" value="contact@nobullco.com" readonly>
              <button class="btn input-group-btn" data-action="clipboard#copy">Copy To Clipboard</button>
            </div>
            <div class="form-group is-flex-centered show-sm" data-controller="clipboard" >
              <input class="form-input text-center" data-target="clipboard.source" type="text" value="contact@nobullco.com" readonly>
              <div class="input-group is-flex-centered mt-1">
              <a href="mailto:rich@nobullco.com" class="btn btn-primary input-group-btn">Email Now</a>
              <button class="btn input-group-btn" data-action="clipboard#copy">Copy To Clipboard</button>
              </div>
            </div>
            <h5 class="h5 is-flex-centered mt-10">See the other ways you can get in touch:</h5>
            <div class="is-flex-centered" >
              <%= link_to 'Contact Us Page', pages_contact_path, class: 'btn btn-alt' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
