
  <p class=" subtitle">
    Looks like everything was submitted! That's awesome. That means it's rocketing through the 
    interwebs and on it's way to me. I'll be in touch shortly! Until then, go enjoy a beer or a cup of coffee - you deserve it.
  </p>
<div class="column col-12">
  <div class="columns">
    <div class="column col-10 col-mx-auto">
      <progress class="progress" value="100" max="100"></progress>
      <div class="is-flex-centered">
        <h3 class="h6">Current Progress: <strong>100%</strong></h3>
      </div>
    </div>
  </div>
</div> 
<button class="btn disabled is-centered" tabindex="-1">Website Submitted</button>



