
  <p class=" subtitle">
    Once everything everything is complete, you'll be able to press the big submit button below. That'll lock your application from further edits and send me (Rich, your friendly website developer) an email that you're ready to proceed!
  </p>
<div class="column col-12">
  <div class="columns">
    <div class="column col-10 col-mx-auto">
      <div class="is-flex-centered">
        <h3 class="h6">Current Progress: <strong><%= calc_completeness %>%</strong></h3>
      </div>
      <progress class="progress" value="<%= calc_completeness %>" max="100"></progress>
    </div>
  </div>
</div> 

