<div class="row column col-12 columns no-margin-offset">
  <div class="column col-12">
    <h3 class="h5 title is-flex-centered">Images</h3>
    <p class=" subtitle is-flex-centered">
      This is the place where you'll upload any images you want included on your website. You know, to make it beautiful! 😊
    </p>
  </div>
  <div class="column col-12">
    <div class="columns">
      <% if current_user.uploads_complete? %>
        <div class="column col-5 col-md-12 col-mx-auto">
          <div class="status is-centered">
            Status: <span class="complete">Complete ✅</span>
          </div>
        </div>
        <div class="column col-5 col-md-12 col-mx-auto">
          <div class="row-link">
            <%= link_to upload_path(current_user.upload) do %>
              <i class="icon icon-photo"></i> See Your Uploaded Images
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="column col-5 col-md-12 col-mx-auto">
          <div class="status is-flex-centered">
            Status: <span class="in-progress">Needs work</span> 🚧
          </div>  
        </div>  
        <div class="column col-5 col-md-12 col-mx-auto">
          <div class="row-link">
            <%= link_to edit_upload_path(current_user.upload) do %>
              <i class="icon icon-upload"></i> Upload Images
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>  