aside.sidebar-nav {
  background: lighten($bg-color, 5%) !important;

  ul.nav {
    padding: 0.3rem;
    // margin: $unit-2 $unit-1;
    // box-shadow: $box-shaddow;
    font-size: $unit-4;

    &:first-of-type {
      margin-top: 0;
    }

    h6 {
      // color: lighten($dark-color, 20%);
      margin-bottom: 0;
    }

    li.nav-item {
      line-height: $unit-2;
      // background: $bg-color-light;
      padding: $unit-3 $unit-1;
      margin: $unit-2 0;
      box-shadow: $box-shaddow;
      // text-align: center;

      &.btn {
        height: $unit-10;

        &>a {
          color: white;
        }

        &:hover {
          background-color: $primary-color-light;
        }
      }

      span {
        margin-bottom: $unit-4;

        &.name {
          display: block;
          text-align: center;
          font-weight: 600;
        }

      }

      .status {
        text-align: center;
      }

      .status {
        display: block;
        margin: $unit-4 0;

        span.complete {
          background-color: $success-color;
          padding: $unit-h $unit-1;
          border-radius: $border-radius;
          color: darken($success-color, 30%);
        }

        span.in-progress {
          background-color: $warning-color;
          padding: $unit-h;
          border-radius: $border-radius;
          color: darken($warning-color, 30%);
        }
      }

      .links {
        text-align: center;
      }

      a {
        color: $link-color-light;

        &:focus {
          box-shadow: none;
        }

        &:hover {
          text-decoration: none;
          top: -0.4rem;
        }
      }
    }



  }
}