body.pages.dashboard {
  .row {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    padding: $unit-2 0;
    margin: $unit-2 0;
  }

  .status {
    display: block;
    margin: $unit-4 0;

    span.complete {
      background-color: $success-color;
      padding: $unit-h $unit-1;
      border-radius: $border-radius;
      color: darken($success-color, 30%);

      &.optional {
        background-color: lighten($warning-color, 10%);
        color: darken($warning-color, 30%);
      }
    }


    span.in-progress {
      background-color: $warning-color;
      padding: $unit-h;
      border-radius: $border-radius;
      color: darken($warning-color, 30%);
    }
  }

  .row-link {
    display: block;
    margin: $unit-4 0;
  }
}

body.pages.index {

  .pages_layout_navbar.is-not-fixed {
    opacity: 0;
  }

  .pages_layout_navbar.is-fixed {
    position: fixed;
    top: 0;
    background: $light-color;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    box-shadow: 0 4px 6px -6px $primary-color;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  section.hero {

    // height: 93vh;
    h1 {
      padding-top: 15vh;
      font-size: 15vw;
      font-weight: 600;
    }

    @media (max-width: $size-md) {
      h1 {
        padding-top: 5vh;
        font-size: 20vw;
      }
    }

    @media (max-width: $size-sm) {
      h1 {
        padding-top: 5vh;
        font-size: 25vw;
      }
    }
  }

  section#why {
    @media (max-width: $size-md) {
      h1 {
        padding-top: 5vh;
        font-size: 20vw;
      }

      clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
    }

    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    background: $alternate-color;
    padding-top: 8rem;
    padding-bottom: 14rem;



    .h2 {
      color: $primary-color-light;
      font-weight: 800;
    }

    h4 {
      text-decoration: none;
      color: $primary-color-light;
      font-weight: 800;
    }

    p.larger {
      font-size: 1rem;
    }

    #why-content {
      padding-bottom: 6rem;
    }
  }

  section#fair {

    background-color: $primary-color-light;
    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
    padding-top: 12rem;
    padding-bottom: 6rem;
    margin-top: -14rem;


    @media (max-width: $size-md) {
      clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0 5%);
    }

    h2,
    h3,
    h4 {
      color: $alternate-color-light;
      font-weight: 800;
    }

    img {
      max-width: 8rem;
    }

    p {
      font-size: 1rem;
      color: $highlight-color;
    }

    .box {
      margin-bottom: 0rem;
      height: 100%;

      p {
        color: $dark-color;
        font-size: 0.9rem;
      }
    }

    .three-simple {
      font-size: 175%;
      background-color: $alternate-color-dark;
      color: white;
      padding: $unit-h $unit-2;


    }
  }

  section#cta {
    background-color: $light-color;
    // clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
    padding-top: 8rem;
    padding-bottom: 8rem;

  }

  section#past-work {
    background-color: $secondary-color;
    clip-path: polygon(50% 0, 75% 5%, 100% 0, 100% 100%, 0 100%, 0 0, 25% 5%);
    padding-top: 8rem;
    padding-bottom: 20rem;

    @media (max-width: $size-md) {
      clip-path: polygon(50% 0, 75% 2.5%, 100% 0, 100% 100%, 0 100%, 0 0, 25% 2.5%);
    }

    h2 {
      margin-bottom: 4rem;
      color: $alternate-color;
      font-weight: 800;
      font-size: 250%;
    }

    .past-work-card {
      min-height: 30.5rem;
    }
  }

  #get-in-touch {
    background: $primary-color;
    clip-path: polygon(50% 10%, 75% 0, 100% 10%, 100% 100%, 0 100%, 0 10%, 25% 0);
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-top: -14rem;

    @media (max-width: $size-md) {
      clip-path: polygon(50% 10%, 75% 0, 100% 10%, 100% 100%, 0 100%, 0 10%, 25% 0);
    }
  }
}

body.pages.pricing {
  section#hero {
    background-image: linear-gradient(45deg,
      $primary-color,
      $alternate-color);
    padding: 8rem 0;

    h1 {
      font-weight: 800;

    }
  }

  section#pricing {
    padding: 4rem 0;


    .price {

      span.gst {
        font-size: 50%;
        color: $gray-color;
      }
    }

    .box {
      height: 100%;
    }
  }

  section#in-all {
    padding-bottom: 6rem;
    padding-top: 2rem;

    ul.included-in-all {
      list-style: none;

      li:before {
        content: "✔️ ";
        color: $alternate-color;
      }
    }
  }

  section#add-ons {
    margin-top: 2rem;
    margin-bottom: 4rem;

    .addon-image {
      max-width: 4rem;
      margin: 0 auto;
    }

    .box {
      height: 100%;

      #hourly-header {
        // margin-top: 4rem;
      }
    }

    span.extra-price {
      font-size: 145%;
      color: $gray-color-dark;
    }

    padding-bottom: 14rem;
  }

  section#cta {
    background: $primary-color;
    clip-path: polygon(50% 10%, 75% 0, 100% 10%, 100% 100%, 0 100%, 0 10%, 25% 0);
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-top: -14rem;

    @media (max-width: $size-md) {
      clip-path: polygon(50% 10%, 75% 0, 100% 10%, 100% 100%, 0 100%, 0 10%, 25% 0);
    }

  }

}

// Pricing Sub pages
body.pages.basic,
body.pages.fancy,
body.pages.custom {

  background-image: linear-gradient(90deg,
    $primary-color,
    $alternate-color);

  header {
    display: none;
  }

  footer {
    display: none;
  }

  .back {
    display: block;
    z-index: $zindex-3;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5rem;
    color: white;
  }

  #description {
    min-height: 100vh;

    padding-top: 20vh;

    .container {

      .box {

        .box-header {
          .actual-price {
            text-align: right;

            @media (max-width: $size-md) {
              text-align: center;
            }
          }
        }
      }
    }

  }
}

body.pages.why_we_hand_code {
  section#hero {
    background-image: linear-gradient(315deg,
      $primary-color,
      $alternate-color);
    min-height: 50vh;
    padding: 8rem 2rem;

  }

  section#content {
    padding: 4rem 0;
  }
}

body.pages.about {
  section#hero {
    background-image: image-url('richchan');
    background-size: cover;
    background-position: top center;
    min-height: 75vh;
    padding: 8rem 2rem;

  }

  section#content {
    padding: 4rem 0;
  }

  section#cta {
    background-color: $primary-color;
    padding: 10rem 2rem;
    margin-top: 4rem;
  }
}

body.pages.contact {

  section#hero {
    height: 75vh;
    width: 100%;

    #map {
      width: 100%;
      height: 100%;
    }

    .hero-content {
      z-index: $zindex-5;
      position: absolute;
      top: 4rem;
      left: 10%;
      right: 10%;

      .h1 {
        color: $alternate-color;
        font-weight: 800;
      }

      .h3 {
        color: $primary-color;

        span {
          background-color: $light-color;
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  section#cta {
    background-color: $primary-color;
    padding: 8rem 2rem;

    header {
      p {
        font-size: 60%;
      }
    }

    .content {
      margin-top: 8rem;
    }

    .contact-method {
      margin-bottom: 1rem;
    }

    .social-icons {
      display: flex;

      .social-icon {
        flex: 1;
        max-height: 2rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

      }
    }

    .address {
      p {
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}

body.pages.keeping_prices_down {

  section#hero {
    background-image: image-url('salmonarm');
    background-size: cover;
    background-position: center center;
    min-height: 60vh;
    padding: 8rem 0;

    .hero-header {
      h1>span {
        background-color: $light-color;
        padding: 0.5rem 1rem;
        font-weight: 800;
        font-size: 2rem;
      }

      .second-part {
        background-color: $primary-color;

        h2 {}
      }
    }

  }

  #hero-description {
    background-color: $primary-color;
    text-align: center;
    font-weight: 400;
    color: $light-color;
    font-size: 75%;
    margin: 0;
  }

  section#content {
    width: 100%;
    background-color: $primary-color;

    *>.box {
      margin: 4rem 0;
    }

  }
}

body.pages.free_beer {
  background-image: linear-gradient(90deg,
    $primary-color,
    $alternate-color);

  header.navbar {
    background-color: #fff;
  }

  .beer-container {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    #beer-logo {
      flex: 0 1 auto;
      max-height: 20vh;
    }
  }

  #content {
    background-color: $primary-color;
    margin: 6rem 0 6rem;
    color: $light-color;
    padding: 1rem 2rem;

    .bigger {
      font-size: 150%;
    }

    header {
      padding: 1rem 0;
    }
  }


}