body.pages.dashboard {
  .row {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    padding: $unit-2 0;
    margin: $unit-2 0;
  }

  .status {
    display: block;
    margin: $unit-4 0;

    span.complete {
      background-color: $success-color;
      padding: $unit-h $unit-1;
      border-radius: $border-radius;
      color: darken($success-color, 30%);
    }

    span.in-progress {
      background-color: $warning-color;
      padding: $unit-h;
      border-radius: $border-radius;
      color: darken($warning-color, 30%);
    }
  }

  .row-link {
    display: block;
    margin: $unit-4 0;
  }

}