/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require direct_uploads
 *= require active_storage_drag_and_drop
 


 */
//  $orange : hsl(14, 100%, 53%) ;
//  $yellow : hsl(48, 100%, 67%) ;
//  $green : hsl(141, 71%, 48%) ;
//  $turquoise : hsl(171, 100%, 41%) ;
//  $cyan : hsl(204, 86%, 53%) ;
//  $blue : hsl(217, 71%, 53%) ;
//  $purple : hsl(271, 100%, 71%) ;
//  $red : hsl(348, 100%, 61%) ;


// Variables and mixins
@import "spec/variables";
@import "spec/mixins";

// Reset and dependencies
@import "spec/normalize";
@import "spec/base";

// Experimental Elements
@import "spec/exp/off-canvas";
@import "spec/exp/timelines";

// Elements
@import "spec/typography";
@import "spec/tables";
@import "spec/responsive-tables";
@import "spec/buttons";
@import "spec/forms";
@import "spec/labels";
@import "spec/codes";
@import "spec/media";

// Icons
@import "spec/icons-core";
@import "spec/icons-navigation";
@import "spec/icons-action";
@import "spec/icons-object";

// Layout
@import "spec/layout";
@import "spec/navbar";

// Components
@import "spec/accordions";
@import "spec/avatars";
@import "spec/badges";
@import "spec/breadcrumbs";
@import "spec/bars";
@import "spec/cards";
@import "spec/boxs";
@import "spec/chips";
@import "spec/dropdowns";
@import "spec/empty";
@import "spec/menus";
@import "spec/modals";
@import "spec/navs";
@import "spec/pagination";
@import "spec/panels";
@import "spec/popovers";
@import "spec/steps";
@import "spec/tabs";
@import "spec/tiles";
@import "spec/toasts";
@import "spec/tooltips";
@import "spec/slide-menu";

// Utility classes
@import "spec/animations";
@import "spec/utilities";



// Experimentals
// @import 'spec/spec-exp';
@import "spec/exp/progress";




// Import outside packages 
@import 'trix/dist/trix';
@import 'aos/dist/aos';
// Import Shared Styles
@import 'layouts/partials/direct_uploads';
@import 'layouts/partials/sidebar';
@import 'layouts/partials/navbar';
// Import Controller Specific Styles
@import 'controllers/pages';
@import 'controllers/registrations';
// Import Layouts - This should be the last import.
@import 'layouts/application_layout';
@import 'layouts/pages_layout';
// Nothing below here. Don't do it. 
// You'll regret it as much as a no regerts tattoo.